.header {
  z-index: 10;
  background-color: #f2f2f2;



  .container {
    margin: 0 auto;
    max-width: 700px;

    .header-figure {
      display: flex;

      img:first-child {
        height: 128px;
        width: 128px;
      }

      img:last-child {
        height: 80px;
        margin-left: 20px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .header_content {

      @media (min-width: 800px) {
        align-items: center;
        display: flex;
      }

      .header-carbon {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
        display: flex;
        flex-shrink: 0;
        width: 240px;
        display: block;
        font-size: 14px;
        line-height: 1.2;
        min-height: 218px;

        @media (min-width: 800px) {
          margin-left: 1rem;
          margin-right: 2rem;
        }



        span {
          display: block;
          max-width: 240px;
        }

        a,
        img {
          display: block;
          max-width: 240px;
        }

        .carbon-wrap {
          img {
            display: block;
            max-height: 100%;
            max-width: 100%;
          }

          &:hover {
            text-decoration: underline;
          }

          a:first-child {
            height: calc(100px);
            padding: 1rem 1rem 0;
          }

          a:last-child {
            padding: 0.5rem 1rem 0;


          }

        }

        .carbon-poweredby {
          color: gray;
          padding: 0.5rem 1rem 1rem;
        }
      }
    }
  }
}

.header-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #4d4d4d;

  @media (min-width: 800px) {
    margin-right: 2rem;
  }

  .header-title {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    margin-bottom: 1rem;
  }

  .header-subtitle {
    line-height: 1.6rem;

    a {
      color: #4d4d4d;
    }

    strong:first-child {
      color: #ff470f;
    }
  }

  .header-share {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 800px) {
      justify-content: flex-start;
    }
  }
}